### Data Types Examples

#### Numeric Data Types

In [3]:
#variable with integer value.
a=10
print("The type of variable having value", a, " is ", type(a))

The type of variable having value 10  is  <class 'int'>

In [4]:
# variable with float value.
b=11.2389
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 11.2389  is  <class 'float'>

In [10]:
# variable with complex value.
c=2000+4j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (2000+4j)  is  <class 'complex'>

### String Data Types

In [13]:
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string:
# single string
a = "kaushik-dey"
print("The value of a is ", a, "and it is", type(a) )

The value of a is  kaushik-dey and it is <class 'str'>

In [18]:
# You can assign a multiline string to a variable by using three quotes:
# Multi line string  
multi_string = """in ineuron learning full stack,
data science course with hands on examples,
4 live classes are done with starting python module
5 assignments given to us to check our knowledge."""
print("The value of a is ", multi_string, "and it is", type(multi_string) )

The value of a is  in ineuron learning full stack,
data science course with hands on examples,
4 live classes are done with starting python module
5 assignments given to us to check our knowledge. and it is <class 'str'>

In [26]:
# You can assign a multiline string to a variable by using three quotes:
# New line string  
new_line_str = "I'm learning Python.\nI refer to ineuron.\nIt is the most popular course for Python programmers.\n"
print("The value of a is ", new_line_str, "and it is", type(new_line_str) )

The value of a is  I'm learning Python.
I refer to ineuron.
It is the most popular course for Python programmers.
 and it is <class 'str'>

### Slicing Strings

In [29]:
# slicing string
slicing_string = "Hello, Kaushik!"
print(slicing_string[2:5])
# slicing from the start
slice_from_start = "Hello, Kaushik!"
print(slice_from_start[:5])
# slice to end
slice_to_end = "Hello, Kaushik!"
print(slice_to_end[2:])
# negative indexing
negative_indexing = "Hello, Kaushik!"
print(negative_indexing[-5:-2])

llo
Hello
llo, Kaushik!
shi

### Modifying Strings

In [45]:
# Modifying strings
# string upper
string_upper = "Hello, Kaushik!"
print(string_upper.upper())
# string lower
string_lower = "Hello, Kaushik!"
print(string_lower.lower())
# remove whitespace
string_strip = " Hello, Kaushik! "
print(string_strip.strip())
# replacing strings
string_replace = "Helcome, Ineuron!"
print(string_replace.replace("H", "W"))
# spliting strings
string_split = "Data Science course, Learning Data Science"
print(string_split.split(','))

HELLO, KAUSHIK!
hello, kaushik!
Hello, Kaushik!
Welcome, Ineuron!
['Data Science course', ' Learning Data Science']

In [47]:
### Concat strings
string_a = "Welcome to "
string_b = "Ineuron"
final_result = string_a + string_b
print(final_result)

Welcome to Ineuron

In [49]:
### String Format
course_fees = 20000
course_name = "Full Stack Data Science Course, and the course fees are Rs. {}"
print(course_name.format(course_fees))

Full Stack Data Science Course, and the course fees are Rs. 20000

In [50]:
### Create a list
custom_list = ["FrontEnd", "Backend", "DataScience"]
print(custom_list)

['FrontEnd', 'Backend', 'DataScience']

In [51]:
# Allow duplicate
duplicate_list = ["apple", "banana", "cherry", "apple", "cherry"]
print(duplicate_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [52]:
# get the size of list
length_list = ["FrontEnd", "Backend", "DataScience"]
print(len(length_list))

3

In [53]:
### Original list items
original_list = ["FrontEnd", "Backend", "DataScience"]
print(original_list)
# Append new items in that list
original_list.append("BlockChain")
print(original_list)

['FrontEnd', 'Backend', 'DataScience']
['FrontEnd', 'Backend', 'DataScience', 'BlockChain']

In [63]:
# it can contain different data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = list1 + list2 + list3
print(list4)

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False]

In [73]:
### we can also for loop the list
for_loop_items = ["apple", "banana", "cherry"]
for i in range(len(for_loop_items)):
    print(for_loop_items[i])

apple
banana
cherry

In [74]:
# From Python's perspective, lists are defined as objects with the data type 'list':
mylist_type = ["apple", "banana", "cherry"]
print(type(mylist_type))

<class 'list'>

In [75]:
# access the list items
thislist = ["FrontEnd", "Backend", "DataScience"]
# list index are starting from 0
print(thislist[1])

Backend

In [76]:
# print the last items
thislist = ["FrontEnd", "Backend", "DataScience"]
print(thislist[-1])

DataScience

In [77]:
# remove list items
thislist = ["FrontEnd", "Backend", "DataScience"]
thislist.remove("Backend")
print(thislist)

['FrontEnd', 'DataScience']

In [79]:
# pop methond removes specific index
thislist = ["FrontEnd", "Backend", "DataScience"]
thislist.pop(2)
print(thislist)

['FrontEnd', 'Backend']

In [80]:
# sort the list items
sort_list = ["orange", "mango", "kiwi", "pineapple", "banana"]
sort_list.sort()
print(sort_list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [83]:
#join the list items
course_list = ["FrontEnd", "Backend" , "DataScience","BlockChain"]
list2 = [1, 2, 3]

for x in list2:
  course_list.append(x)

print(course_list)

['FrontEnd', 'Backend', 'DataScience', 'BlockChain', 1, 2, 3]

In [84]:
#we can also extend the list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Expression

In [85]:
# constant expression
x = 20 + 2.3
print(x)

22.3

In [86]:
### airthmatic expression
x = 50
y = 20
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

70
30
1000
2.5

In [87]:
# Integral Expressions
a = 13
b = 12.0
c = a + int(b)
print("Integral Expresion",c )

Integral Expresion 25

In [88]:
# Floating Expressions
a = 13
b = 5

c = a / b
print(c)

2.6

In [89]:
# Relational Expressions
a = 21
b = 13
c = 40
d = 37

p = (a + b) >= (c - d)
print(p)

True

In [90]:
P = (10 == 9)
Q = (7 > 5)
# Logical Expressions
R = P and Q
S = P or Q
T = not P

print(R)
print(S)
print(T)

False
True
True

In [91]:
# Combinational Expressions
a = 16
b = 12
c = a + (b >> 1)
print(c)

22

In [92]:
# After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
print(bacon)

22

In [93]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [98]:
# typeError in python
vv = 'I have eaten ' + 99 + ' burritos.'
vv

TypeError: can only concatenate str (not "int") to str

In [ ]:
# to fix the error
vv = 'I have eaten ' + str(99) + ' burritos.'
vv

### Strings & Variables

In [22]:
# cant start with number while assigning any value to variable
90p=90
90p

SyntaxError: invalid decimal literal (2588137167.py, line 2)

In [24]:
@pokl89 = "hello new course"
print(@pokl89)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2147526880.py, line 1)

In [8]:
# how to write the boolean values in python
bool_a=True
print("the true data types are", bool_a ,'and its class is ',type(bool_a) , 'and its numeric values', int(bool_a))
bool_b=False
print("the true data types are", bool_b ,'and its class is ',type(bool_b),'and its numeric values', int(bool_b))

the true data types are True and its class is  <class 'bool'> and its numeric values 1
the true data types are False and its class is  <class 'bool'> and its numeric values 0

In [10]:
x = 5
y = 8
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x > y: False
x <= y: True
x >= y: False

In [12]:
#comparison operator
x = 5
y = 8
print("x == y:", x == y)

x == y: False

In [13]:
#Logical Operators 
print((9 > 7) and (2 < 4))

True

In [14]:
#Logical Operators
print((8 == 8) or (6 != 6))

True

In [15]:
#Logical Operators
print(not(3 <= 1))

True

In [16]:
#expression 1
(5 > 4) and (3 == 5)

False

In [17]:
#expression 2
not (5 > 4)

False

In [18]:
#expression 3
(5 > 4) or (3 == 5)

True

In [19]:
#expression 4
not ((5 > 4) or (3 == 5))

False

In [20]:
#expression 5
(True and True) and (True == False)

False

In [21]:
#expression 6
(not False) or (not True)

True

In [31]:
# different differnt condition different prints as in output
#first spam initialization
spam="ineuron";
#if value 1 is stored in spam then prints Hello
if spam==1:
    print("Hello")
#if 2 is stored in spam then prints Howdy
elif spam==2:
    print("Howdy")
# if anything stored is spam then prints Greetings
else :
    print("Greetings!")

Greetings!

In [32]:
#example of break statement 
for kaushik in range(0,5):
    print(f'Outer For Loop Iteration: {kaushik}')
    for ineuron in range(0,10):
        if ineuron == 5:
            break
        print(f'--Inner For Loop Iteration: {ineuron}')

Outer For Loop Iteration: 0
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
--Inner For Loop Iteration: 2
--Inner For Loop Iteration: 3
--Inner For Loop Iteration: 4
Outer For Loop Iteration: 1
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
--Inner For Loop Iteration: 2
--Inner For Loop Iteration: 3
--Inner For Loop Iteration: 4
Outer For Loop Iteration: 2
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
--Inner For Loop Iteration: 2
--Inner For Loop Iteration: 3
--Inner For Loop Iteration: 4
Outer For Loop Iteration: 3
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
--Inner For Loop Iteration: 2
--Inner For Loop Iteration: 3
--Inner For Loop Iteration: 4
Outer For Loop Iteration: 4
--Inner For Loop Iteration: 0
--Inner For Loop Iteration: 1
--Inner For Loop Iteration: 2
--Inner For Loop Iteration: 3
--Inner For Loop Iteration: 4

In [33]:
#break statement
for chance in range(1,4):
    passw = input("\nEnter a password:")
    if passw == 'python':
       print ("--correct password\n --- unlocking your system")
       break
    print(f"incorrect attemt: {chance}")

Enter a password: python

--correct password
 --- unlocking your system

In [35]:
#example of continue statement
for kaushik in range(0,8):
    if kaushik == 5:
        continue
    print(f'Iteration: {kaushik}')

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 6
Iteration: 7

In [36]:
#range10
for kaushik1 in range(10):
    print(f'itr: {kaushik1}')

itr: 0
itr: 1
itr: 2
itr: 3
itr: 4
itr: 5
itr: 6
itr: 7
itr: 8
itr: 9

In [37]:
#range(0,10)
for kaushik1 in range(0,10):
    print(f'itr: {kaushik1}')

itr: 0
itr: 1
itr: 2
itr: 3
itr: 4
itr: 5
itr: 6
itr: 7
itr: 8
itr: 9

In [38]:
#range(0,10,1)
for kaushik1 in range(0,10,1):
    print(f'itr: {kaushik1}')

itr: 0
itr: 1
itr: 2
itr: 3
itr: 4
itr: 5
itr: 6
itr: 7
itr: 8
itr: 9

In [1]:
#prints the numbers 1 to 10 using a for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#prints the numbers 1 to 10 using while loop
# init the value i =1
i = 1
while(i<=10):
    print(i)
    i += 1