1. **In Python, what is the difference between a built-in function and a user-defined function? Provide an example of each ??**

### Built In Function
Ans : Built In function is a function which can already in wriiten in python as its own function , where we no need to create this function but we should call this function to get the output. Built in python functions are **pre-defined by python interpreter**.

So, we can say that Python built-in functions are defined as the functions whose functionality is pre-defined in Python.

Built-in functions are ones for which the compiler generates inline code at compile time.

Some example of built in functions are : abs(), all(), type(), bool() and

## User-defined function

Ans : User Defined function, it names suggested that user can defined it means its a custom function in python which is created by its user as per the business logic are required there.

In every programming language we can create UDF , so python also not exceptional for that. so, simply we can say that user or coder or developer can write its own function and that is called user defined function.

Functions that we define ourselves to do certain specific task are referred as user-defined functions.

in below cell we can create some code example regarding Built in function and User Defined function.

#### IN BUILT FUNCTION CODE EXAMPLE

In [ ]:
### example of Built in function
#### type example
nameType="Welcome to Data Science Course with Ineuron...."
print(f"First example of built-in-function {type(nameType)}")

#### abs example
integerValue = -20
print(f"Second example of built-in-functionAbsolute value of -20 is: {abs(integerValue)}")

#### bin() function is used to return the binary representation of a specified integer
x =  10
print (f"Third example of built-in-function is : {bin(x)}")

#### bool() converts a value to boolean(True or False) using the standard truth testing procedure.
test1 = 0.0
print(f"Fourth example of built-in-function is :test1,'is',{bool(test1)}")

#### print function is also in built function in python
namePrint="Python is super amazed programming language among all"
print(f"Fifth example of built-in-function is : {namePrint}")

"""
exec() function is used for the dynamic execution of Python program which can
either be a string or object code and it accepts large blocks of code.
"""
x = 8
exec(f"{print(x!=8)}")

First example of built-in-function <class 'str'>
Second example of built-in-functionAbsolute value of -20 is: 20
Third example of built-in-function is : 0b1010
Fourth example of built-in-function is :test1,'is',False
Fifth example of built-in-function is : Python is super amazed programming language among all
False

#### CUSTOM FUNCTION CODE EXAMPLE

In [ ]:
def numbers_to_strings_udf(argument):
    switcher = {
        0: "Addition",
        1: "Multiplication",
        2: "Division",
    }

    return switcher.get(argument, "nothing")

# Driver program
if __name__ == "__main__":
    argument=1
    print (numbers_to_strings_udf(argument))

Multiplication

2. **How can you pass arguments to a function in Python?**

Ans : Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. we can add as many arguments as want, just separate them with a comma. one coding example for pass arguments are given below cell. cell no [63,64 and 67]

**Explain the difference between positional arguments and keyword arguments in python ??**

Ans : An argument is a variable, value or object passed to a function or method as their input. Positional arguments are arguments that need to be included in the proper position or order. The first positional argument always needs to be listed first when the function is called. The second positional argument needs to be listed second and the third positional argument listed third.

In the other hand, Keyword arguments are included with a keyword and equals sign.This way the order of the arguments does not matter.

now for both , refer to the below cell example.

In [63]:
##Pass arguments to a function.
##pass single arguments
def my_udf(fname):
  print(fname + " Welcome to the hell!!!!!")

my_udf("kaushik")
my_udf("Rahul")

kaushik Welcome to the hell!!!!!
Rahul Welcome to the hell!!!!!

In [64]:
##Pass arguments to a function.
##pass multiple arguments
def my_udf_1(fname, welcometext):
  print(fname + welcometext)

my_udf_1("kaushik","welcome to the Data Science World!!!!!")
my_udf_1("Rahul"," welcome to the Machine Learning World!!!!!")

kaushikwelcome to the Data Science World!!!!!
Rahul welcome to the Machine Learning World!!!!!

In [67]:
##Pass arguments to a function.
##we can use args for that
def my_udf_1(*argv):
  for arg in argv:
        print("Next argument through *argv :", arg)

print(my_udf_1("kaushik","welcome to the Data Science World!!!!!"))
print(my_udf_1("Rahul"," welcome to the Machine Learning World!!!!!"))

Next argument through *argv : kaushik
Next argument through *argv : welcome to the Data Science World!!!!!
None
Next argument through *argv : Rahul
Next argument through *argv :  welcome to the Machine Learning World!!!!!
None

In [73]:
#positional arguments
def my_function(name, skill, experience):
  print(f"My name is {name} and my skills are {skill} and my experience is {int(experience) *2 } years")


#call the function with right order proper sequence order
my_function("kaushik","ML-Expert","10")
#if i donot follow the order then it has no meaning of calling the function
my_function("10","kaushik","ML-Expert")
#so, here we have to maintain the position other
#so, we can see that the first statement is printed but second statement it errors because we not follow the order.

My name is kaushik and my skills are ML-Expert and my experience is 20 years

ValueError: ignored

In [75]:
#keyword arguments
def my_function(experience, name, skill):
  print(f"My name is {name} and my skills are {skill} and my experience is {int(experience) *2 } years")

#although it doesn't follow the order but still execute the expected results.
my_function(experience = "10", name = "kaushik", skill = "ML-Expert")

#Now i alter the arguments position but still it provides expected results.
my_function(skill = "ML-Expert", name = "kaushik", experience = "10" )

My name is kaushik and my skills are ML-Expert and my experience is 20 years
My name is kaushik and my skills are ML-Expert and my experience is 20 years

3. **What is the purpose of the return statement in a function? Can a function have multiple return statements? Explain with an example.**

**Ans** : A return statement is used to end the execution of the function call
and returns the results to the caller. return can be string, boolean,
number, dict anything. but after return statement no code will be executed.
it is the last point of the code. if we focus while writing the code inside
function with return statement we can see that after return statement the
code blocks are showing greyed out or showing error and it depends on the IDE.

No, a function does not have multiple return statement.But Python functions can return multiple values in a single return statement. we have to make sure that return statement is only one and with the help of only one return statement we can return multiple values but not multiple return statement. Working example is given below cell.

In [1]:
# can a function have multiple return statements -- example 1
def multiple_return(name,age,sal):
    return name
    return age
    return sal

In [2]:
multiple_return("kaushik",20,12000)

'kaushik'

from the above code example we can see that while calling the multiple_return it only return name and ignored other two values.

In [5]:
# can a function have multiple return statements -- example 2
def dict_return(name,age,sal):
  dict_return = {'name': name, 'age': age, 'salary': sal}
  dict_return_with_decorated= f"First name is {name}, age is {age} and salary is {sal} "
  return dict_return_with_decorated

In [6]:
print(dict_return("kaushik",20,12000))

First name is kaushik, age is 20 and salary is 12000

In [7]:
# can a function have multiple return statements -- example 3
def get_demo_data_obj(object_type):
    if 'str' == object_type:
        return 'test'
    elif 'tuple' == object_type:
        return (1, 2, 3)
    elif 'list' == object_type:
        return [1, 2, 3]
    elif 'dict' == object_type:
        return {"1": 1, "2": 2, "3": 3}
    else:
        return None

In [9]:
print(get_demo_data_obj('str'))
print(get_demo_data_obj('tuple'))
print(get_demo_data_obj('list'))
print(get_demo_data_obj('dict'))
print(get_demo_data_obj('set'))

test
(1, 2, 3)
[1, 2, 3]
{'1': 1, '2': 2, '3': 3}
None

so, from the above code example ( **example 2 and example 3** ) we can see that with the one single return statement we can return multiple values.

4. **What are lambda functions in Python? How are they different from regular functions? Provide an example where a lambda function can be useful ??**

Ans: Lambda functions are similar to **UDF** ( User Defined functions) like an anonymous functions. Lambda functions are efficient whenever you want to create a function that will only contain simple expressions - that is, expression that is single line of statement with less coding.

Ans: The difference between regular functions and lambda functions are given below.


**Regular Functions**

in normal functions we can use def keyword for declaring or creating
the functions. in python def defined functions are commonly used because
of their simplicity. The def function must be declared in the namespace.
The def functions can perform any python task including multiple conditions,
nested conditions or loops of any level, printing, importing libaries and
raising Exceptions.


**Lambda Functions**
The lambda functions can be used without any declaration in the namespace.
this functions defined above are like single-line functions. the functions
does not have parenthesis like the def defiend functions but instead, take
parameters after the lambda keyword. The lambda function is treated as anonymyous function and there is no return keyword defined explicitly but the lambda function does return an object by default.

**when lambda function is useful ??**

Ans : As per my understanding lambda functions can be used to manipulate values inside a Pandas dataframe. so we can use lambda with apply() on dummy dataframe. and that time it is very useful as compare than regular function. working example is given below cell for that.

In [11]:
### Example of regular functions are given below
# Define function to check if language is present in
# language list using def keyword
languages = ['Bengali', 'English', 'Hindi', 'Telegu']
def check_language(x):
    if x in languages:
        return True
    return False

# Call the def function to check if keyword 'English'
# is present in the languages list and print it
print(check_language('Bengali'))

True

In [12]:
### Example of lambda functions are given below
languages = ['Bengali', 'English', 'Hindi', 'Telegu']
# Define function using lambda
check_language_present = lambda x: True if x in languages else False
# Call the lambda function
print(check_language_present('Sanskrut'))

False

In [8]:
#when lambda function is useful
#Lambda functions consist of three parts:
#Lambda Keyword
#Bound variable/lambda argument, and
#Body or lambda expression
import pandas as pd
df = pd.DataFrame({
    "id" : [1,2,3,4,5],
    "name" : ["kaushik","krish","Raj","Sunny","Rahul"],
    "age":[10,40,20,30,35],
    "salary":[500,50000,100000,20000,10000]
                     })
df.head()

   id     name  age  salary
0   1  kaushik   10     500
1   2    krish   40   50000
2   3      Raj   20  100000
3   4    Sunny   30   20000
4   5    Rahul   35   10000

In [9]:
#for hypothetical if we want to add age increase 3 years then simply we can use apply(lambda) func and easily we can achieve that.
df['age']=df['age'].apply(lambda x: x+3)
df.head()

   id     name  age  salary
0   1  kaushik   13     500
1   2    krish   43   50000
2   3      Raj   23  100000
3   4    Sunny   33   20000
4   5    Rahul   38   10000

In [10]:
#for hypothetical if we want to increase salary then simply we can use apply(lambda) func and easily we can achieve that.
df['salary']=list(map(lambda x: int(x+x*0.2),df['salary']))
df.head()

   id     name  age  salary
0   1  kaushik   13     600
1   2    krish   43   60000
2   3      Raj   23  120000
3   4    Sunny   33   24000
4   5    Rahul   38   12000

5. **How does the concept of "scope" apply to functions in Python?**

Ans :
Scope is treated as accessible point of view inside the functions in python. when any function executes then from the life cycle of that function we can access some variables  like local variable or function scope or local scope, means this variable owner is only recognised inside that function, when the function execution stop after the runtime of that function, this variable we can't access or it can not be recognized or not identified , its existence only applicable inside that function. so we can say there are function scope and other hand there is block scope that means inside that specific block this variables only be accessed and it can't be executed outside of this block.

**Explain the difference between local scope and global scope ?**

Ans:
There are mainly three types of scope that is Local Scope and Global Scope and nonlocal scope.
Local scope is the code block or body of any Python function or lambda expression which contains the names that you define inside the function. These names will only be visible from the code of the function. and this scope is treated as local scope and it will only work inside that function and outside of the function there is no existence. so, as per my understanding every framework or language, there are two main scope like local and global scope. so in the other side global scope value is entirely accessible within or outside of the function.

so, in the below cell we can show each one example ( local scope, global scope and non-local scope )

In [2]:
### example of local scope in python
def myfunc():
  local_scope_var = "kaushik"
  print(local_scope_var)

myfunc()
#Now if i print local_scope_var it will throw error.
print(local_scope_var)

kaushik

NameError: ignored

In [4]:
#The local variable can be accessed from a function within the function.
def myfunc():
  local_scope_var = True
  def myinnerfunc():
    print(local_scope_var)
  myinnerfunc()

myfunc()

True

In [10]:
# now example with the global scope in python.
# declare global variable
message_bar = 'Hello'

def greet():
    # declare local variable
    message_bar ="new Hello"
    print('Local', message_bar)

greet()
print('Global', message_bar)
#now we can understood here both message_bar is different . inside greet() this message_bar is different output and outside is different.
#so we can say that outer message_bar is called global scope and inner message_bar is called local scope

Local new Hello
Global Hello

In [11]:
#example of non-local variable.
# outside function
def outer():
    message = 'local'
    # nested function
    def inner():
        # declare nonlocal variable
        nonlocal message
        message = 'nonlocal'
        print("inner:", message)
    inner()
    print("outer:", message)
outer()

inner: nonlocal
outer: nonlocal

6. **How can you use the "return" statement in a Python function to return multiple values?**

Ans : i can use dictionary for "return" statement in a python function to return multiple values. An working example is given below.

In [12]:
#To return multiple values with one single return statement
def dict_return(name,age,sal):
  dict_return = {'name': name, 'age': age, 'salary': sal}
  dict_return_with_decorated= f"First name is {name}, age is {age} and salary is {sal} "
  return dict_return_with_decorated

In [13]:
print(dict_return("kaushik",20,12000))

First name is kaushik, age is 20 and salary is 12000

In [15]:
# There is another approach for returning multiple values with the list
def test_list():
    return ['kaushik', 30,1000000]
result = test_list()
print(result)
print(type(result))

['kaushik', 30, 1000000]
<class 'list'>

In [17]:
# There is another approach for returning multiple values with the list
def single_return_multiple_values():
    return 'kaushik', 20, [1000, 20000, 30000]

kaushik, rajesh, digvijoy = single_return_multiple_values()
print(kaushik)  # it returns 'kaushik'
print(rajesh)   # it returns 20
print(digvijoy) # it returns [1000, 20000, 30000]

kaushik
20
[1000, 20000, 30000]

7. **What is the difference between the "pass by value" and "pass by reference" concepts when it comes to function arguments in Python?**

Ans: When pass function arguments by reference, those arguments are **only references to existing values**. In the other hand, when pass arguments by value, those **arguments become independent copies of the original values**.

**Pass by Reference In Python ??**

so, simply we can say that Pass by reference means that you have to pass the function (reference) to a variable which refers that the variable already exists in memory or stack. Here, the variable (the bucket) is passed into the function directly. The variable acts as a Package that comes with its contents(the objects).

**Pass by Value In Python ??**

In this approach, we pass a copy of actual variables in function as a parameter. Hence any modification on parameters inside the function will not reflect in the actual variable.

In [19]:
## coding example of pass by reference
def same_list(list):
    return list
my_list=["x"]
same_list(my_list)
print(my_list)

#Also, the function can reassign the contents of the variable with the same effect as below.
def add(list):
  list.append("B")
  return list

mylist=["X"]
add(my_list)
print(my_list)

['x']
['x', 'B']

In [23]:
## coding example of pass by value
def same_list(list):
    return list
mylist=["X"]
same_list(my_list)
print(my_list)

def add(list):
  #list.append["B"]
  return list

mylist=["X"]
add(my_list)
print(my_list)

#To summarize the copies of the variables and the objects in the context of the caller of the function are completely isolated.

['x', 'B']
['x', 'B']

 8. **Create a function that can intake integer or decimal value and do following operations:**

a. Logarithmic function (log x)

b. Exponential function (exp(x))

c. Power function with base 2 (2x)

d. Square root

Ans : The all four bullet point answer explanation with coding is given in next cell.

In [25]:
import math

In [31]:
#Logarithmic function (log x) :
def Logarithmic_function(*argv):
   for arg in argv:
       return math.log(arg)

print(f'The value of log 5 with base 3 is : ", end="" : {Logarithmic_function(5,3)}')

The value of log 5 with base 3 is : ", end="" : 1.6094379124341003

In [32]:
#Exponential function (exp(x)) :
def exponential_function(*argv):
   for arg in argv:
       return math.exp(arg)

print(f'The e**4 value is : ", end="" : {exponential_function(4)}')

The e**4 value is : ", end="" : 54.598150033144236

In [43]:
#Power function with base 2 (2x) :
def power_function_with_base2(*argv):
       return pow(*argv)

print(f'The power function with base 2 is  : ", end="" : { power_function_with_base2(2,2)}' )

The power function with base 2 is  : ", end="" : 4

In [48]:
#Square root :
def square_root(*argv):
  for arg in argv:
       return math.sqrt(arg)

print(f'The square_root is  : ", end="" : { square_root(3.5)}' )

The square_root is  : ", end="" : 1.8708286933869707

In [62]:
#alternatively we can create one function and controls other flow of execution.
def general_function_for_math_calculation(arg1,*argv):
    for arg in argv:
      #Logarithmic function (log x)
      if 'log' == arg1:
          return math.log(arg)
      #Exponential function (exp(x)) :
      elif 'exp' == arg1:
          return math.exp(arg)
      elif 'pow' == arg1:
          return pow(*argv)
      elif 'sqrt' == arg1:
          return math.sqrt(arg)


print(f'The value of log 5 with base 3 is : ", end="" : {general_function_for_math_calculation("log",5,3)}')
print(f'The e**4 value is : ", end="" : {general_function_for_math_calculation("exp",4)}')
print(f'The power function with base 2 is  : ", end="" : { general_function_for_math_calculation("pow",2,2)}' )
print(f'The square_root is  : ", end="" : { general_function_for_math_calculation("sqrt",3.5)}' )

The value of log 5 with base 3 is : ", end="" : 1.6094379124341003
The e**4 value is : ", end="" : 54.598150033144236
The power function with base 2 is  : ", end="" : 4
The square_root is  : ", end="" : 1.8708286933869707

9. **Create a function that takes a full name as an argument and returns first name and last name ?**

Ans : The answer is given in next cell.

In [ ]:
!pip install colorama

Installing collected packages: colorama
Successfully installed colorama-0.4.6

In [ ]:
from colorama import Fore
def full_name_udf(fullName):
    splitedValue = fullName.split()
    firstName = splitedValue[0]
    lastName = splitedValue[1]
    return f"so from this UDF we takes a {fullName} as argument and it returns first name is {Fore.YELLOW +firstName } and last name is {Fore.GREEN + lastName }"

print(full_name_udf("kaushik Dey"))

so from this UDF we takes a kaushik Dey as argument and it returns first name is kaushik and last name is Dey