** Q.1. Create two int type variables, apply addition, subtraction, division and multiplications
and store the results in variables. Then print the data in the following format by calling the
variables ?? **

In [ ]:
#the Question solution is
a=9
b=5
print(f"First variable type is {type(a)} & second variable type is {type(b)}")
print(f"First variable is {a} & second variable is {b}")
print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")

First variable type is <class 'int'> & second variable type is <class 'int'>
First variable is 9 & second variable is 5
Addition: 9 + 5 = 14
Subtraction: 9 - 5 = 4
Multiplication: 9 * 5 = 45
Division: 9 / 5 = 1.8

In [ ]:
#we can also create a dynamic with the help of input
a=int(input("First variable is :"))
b=int(input("Second variable is :"))
print(f"First variable type is {type(a)} & second variable type is {type(b)}")
print(f"First variable is {a} & second variable is {b}")
print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")

First variable is :8
Second variable is :7
First variable type is <class 'int'> & second variable type is <class 'int'>
First variable is 8 & second variable is 7
Addition: 8 + 7 = 15
Subtraction: 8 - 7 = 1
Multiplication: 8 * 7 = 56
Division: 8 / 7 = 1.1428571428571428

**Q.2. What is the difference between the following operators:**
1. '/' & '//'
2. '**' & '^'

Ans :
1. '/' means division where '//' means floor division. The examples are given below.

In [ ]:
#example of '/'
var_a = 12
var_b = 3
print(f"the output of '/' operator is {var_a / var_b}")

the output of '/' operator is 4.0

In [ ]:
#example of '//'
var_a = 12
var_b = 3
print(f"the output of '//' operator is {var_a // var_b}")

the output of '//' operator is 4

2. '**' means Exponentiation operator
where '^' means XOR operator which Sets each bit to 1 if only one of two bits is 1. The examples are given below.

In [ ]:
#example of ** (Exponentiation) operator is:
var_a = 2
var_b = 5
print(f"The output for Exponentiation operator is {var_a ** var_b}") #same as 2*2*2*2*2

The output for Exponentiation operator is 32

In [ ]:
#example of ^ (XOR) operator is:
var_a=6
var_b=3
print("=========Sets each bit to 1 if only one of two bits is 1========")
print( f"the output for XOR operator is  {var_a ^ var_b}" )

=========Sets each bit to 1 if only one of two bits is 1========
the output for XOR operator is  5

**3.  List the logical operators ?**

Ans : All logical operators names are given below with examples.

The First Logical operator name is **and** and the example is given below.

Note : Returns True if both statements are true.

In [ ]:
# The First Logical operator name is and
var_a = 5
print(f"the first logical operator and example is {var_a > 3 and var_a < 10}")

the first logical operator and example is True

The Second Logical operator name is **or** and the example is given below.

Note : Returns True if one of the statements is true.

In [ ]:
# The Second Logical operator name is or
var_a = 5
print(f"the second logical operator or example is {var_a > 3 or var_a < 10}")

the second logical operator or example is True

The Third Logical operator name is **not** and the example is given below.

Note : Reverse the result, returns False if the result is true.

In [ ]:
# The Third Logical operator name is not
var_a = 5
print(f"the Third logical operator not example is {not(var_a > 3 and var_a < 10)}")

the Third logical operator not example is False

4. Explain right shift operator and left shift operator with examples ?

Ans : in python language >> is called right shift operator and it is a bitwise operator and it requires bitwise representation of objects as first operand. Bits are shifted to right by number of bits stipulated by second operator.

Shift right by pushing copies of the leftmost bit in from the left and let the rightmost bits fall off.

In [ ]:
#example of >> (right shift) operator is
print(f"The example of right shift operator is  {8 >> 2} ")
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.
If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

The example of right shift operator is  2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [37]:
### Example of left shift operator
var = 2;
print("var      = ", var<<0)  #same number
print("var * 2  = ", var<<1) #1 position to the left
print("var * 4  = ", var<<2) #2 position to the left
print("var * 8  = ", var<<3) #3 position to the left
print("var * 16 = ", var<<4) #4 position to the left
print("var * 32 = ", var<<5) #5 position to the left
print(f"The example of left shift operator is : {8 << 2} ")

var      =  2
var * 2  =  4
var * 4  =  8
var * 8  =  16
var * 16 =  32
var * 32 =  64
The example of left shift operator is : 32

 Create a list containing int type data of length 15. Then write a code to check if 10 is present in the list or not ??

Ans : The solution is given in below cell

In [35]:
# Initializing list
num_list = list(range(15))
valcheck=10
print(f"the number is generated {num_list}")
print(f"the length of this data type is {len(num_list)}")
print(f"check the list type {type(num_list)}")

if (valcheck in num_list):
    print(f"{valcheck} is present")
else:
  print(f'{valcheck} is not present')

the number is generated [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
the length of this data type is 15
check the list type <class 'list'>
10 is present